
.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.container div {
    margin-top: 10px;
    margin-bottom: 15px;
}

.container .error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.container label.error {
    font-size: 16px;
    display: inline;
}